body {
    background-color: #dfbcda;
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.titulo {
    color: #101090;
    font-weight: 100;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.subtitulo {
    color: #101090;
    font-weight: 100;
    font-size: 40px;
    margin: 0;

}
.texto{
    margin: 0;

}